.order-summary {
  font-family: myriad-pro, BogleWeb, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding: 15px 16px;
  width: 188px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  border: 1px solid #e6e7e8;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.subtotal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

#subtotal-num {
  font-weight: 600;
}

.pickup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px 0px 6px 0px;
}

#pickup-title {
  cursor: pointer;
  text-decoration: underline;
}

#pickup-tooltip {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  background-color: white;
  font-size: 0.75rem;
  width: 120px;
  left: 22px;
  top: 70px;
}

#pickup-num {
  font-weight: 600;
}

.fees-wrapper {
  margin: 6px 0px 6px 0px;
  line-height: 1.5;
}

.fees-container {
  display: flex;
  line-height: 1;
  flex-direction: row;
  justify-content: space-between;
}

#fees-num {
  font-weight: 600;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e6e7e8;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  font-weight: 700;
}

#total-title {
  font-size: 1.25rem;
}

#total-num {
  font-size: 1.5rem;
}

#chair {
  width: 55px;
  height: 55px;
}

.expanded-details {
  cursor: pointer;
  text-decoration: underline;
}

.exp-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#exp-details-description {
  word-wrap: break-word;
}

.exp-details-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#exp-details-footer-num {
  font-weight: 600;
  margin-right: 25px;
}

.exp-details-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.75rem;
  color: #6d6e71;
}

#exp-details-qty {
  font-size: 0.75rem;
  white-space: nowrap;
}

.promo {
  cursor: pointer;
  border-top: 1px solid #e6e7e8;
  text-decoration: underline;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
}

#promo-code-text {
  font-size: 0.75rem;
  color: #6d6e71;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 2px 8px 2px 8px;
  margin-left: 5px;
  border: solid #000000 1px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  text-decoration: none;
}
