.order-summary {
  border: 1px solid black;
  color: #444;
  font-family: myriad-pro, BogleWeb, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  width: 200px;
  font-weight: 400;
  font-size: 0.875rem;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}
